anyjson==0.3.3
autoenv==1.0.0
config==0.3.9
dj-database-url==0.4.0
dj-static==0.0.6
Django==1.9.4
django-jquery==1.12.2
#django-mongodb-cache==0.3
django-mongodb-engine==0.6.0
django-static-jquery==2.1.4
django-toolbelt==0.0.1
djangotoolbox==1.8.0
gunicorn==19.4.5
pip-review==0.4
psycopg2==2.6.1
pymongo==3.2.2
pysolr==3.4.0
pystache==0.5.4
PyYAML==3.11
requests==2.9.1
static==1.1.1
static3==0.6.1
virtualenv==15.0.1
virtualenvwrapper-win==1.2.1
watson-developer-cloud==0.10.0
